html, * {
    box-sizing: border-box;
}

/* ===TOP NAVIGATION=== */

/* topNav area */
.topnav-container {
    position: fixed;
    height: 55px;
    background-color: #ddd;
    width: 100%;
    text-align: right;
    
    font-size: 20px;
}

    .topnav-container a {
        text-decoration: none;
    }
    
    .titleLink {
        display: inline-block;
        height: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 20px;
        position: absolute;
        left: 0px;
        color: #000;
        
    }

        .titleLink a:visited {
            color: #000;
        }

    
    nav .topnav {
        list-style: none;
        padding-right: 20px;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
        .topnav li {
            display: inline-block;
            padding-right: 5px;
        }
        
/* ===MAIN CONTENT PANE=== */

.container {
    width: 1200px;
    margin: auto;
    padding-top: 55px; /* Prevent navbar blocking content. */
}

.searchbar {
    width: 100%;
    padding: 20px;
}

.searchbar-results-nav {
    width: 100%;
    font-size: 0px;
    padding: 20px 20px 40px 20px;
}

.searchbar-results {
    width: 100%;
    background: rgba(0,0,255,.3); /* TEMP: Design aid */
    min-height: 5vh; /* TEMP: Design aid */
    padding: 20px;
}

/* ===SEARCH BAR=== */

.searchbar-text{
    display: inline-block;
    width: 500px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
}

.searchbar-submit {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* ===SEARCH BAR RESULTS NAV=== */

.searchbar-nav {
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 18px;
}
    
    .searchbar-nav-prev {
        border-radius: 3px 0px 0px 3px;
        border-right-width: 0px;
    }

    .searchbar-nav-next {
        border-radius: 0px 3px 3px 0px;
        border-left-width: 0px;
    }

.searchbar-results-nav a {
    color: #000;
    text-decoration: none;
}

    .searchbar-results-nav a:visited {
        color: #000;
    }
    
    .searchbar-results-nav a:focus span{
        border: 2px solid #85C1E9;
    }

    
/* ===SEARCH RESULTS === */


.search-results-date, .search-results-loc {
    color: #aaa;
}

.search-results-date, .search-results-title {
    padding-right: 10px;
}

.search-results-title a, .search-results-title a:visited {
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
