html {
    box-sizing: border-box;
    background: #eee; /* TEMP: Design aid */
}

/* ===TOP NAVIGATION=== */

/* topNav area */
.topnav-container {
    position: fixed;
    height: 60px;
    background-color: #ccc;
    width: 100%;
    text-align: right;
}

    .titleLink {
        display: inline-block;
        height: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 50px;
        position: absolute;
        left: 0px;
    }
    
    nav .topnav {
        list-style: none;
        padding-right: 50px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
        .topnav li {
            display: inline-block;
        }
        
/* ===MAIN CONTENT PANE=== */

.container {
    width: 1200px;
    margin: auto;
    padding-top: 60px; /* Prevent navbar overhang */
    background: #fff; /* TEMP: Design aid */
    min-height: 100vh; /* TEMP: Design aid */
}

.searchbar {
    width: 100%;
    background: rgba(255,0,0,.3); /* TEMP: Design aid */
    min-height: 5vh; /* TEMP: Design aid */
}

.searchbar-results-nav {
    width: 100%;
    background: rgba(0,255,0,.3); /* TEMP: Design aid */
    min-height: 5vh; /* TEMP: Design aid */
}

.searchbar-results {
    width: 100%;
    background: rgba(0,0,255,.3); /* TEMP: Design aid */
    min-height: 5vh; /* TEMP: Design aid */
}